[submodule "carmen-cache-sys/carmen-cache"]
	path = rust-src/carmen-cache-sys/carmen-cache
	url = https://github.com/mapbox/carmen-cache.git
[submodule "carmen-cache-sys/protozero"]
	path = rust-src/carmen-cache-sys/protozero
	url = https://github.com/mapbox/protozero.git
